---
layout: default
title: Switchfly Technical Blog - Web Development Articles
---
<!-- index.html - Wraps each post on main page -->
{% for post in site.posts %}
  {% if page.category == web-development %}
    <article class="post-home twelve columns">
      <div class="three columns alpha post-info">
        <a class="image-link" href="{{ post.author-link }}"><img class="author" src="/tech-blog/images/{{ post.author-image }}" alt="{{ post.author }}" /></a>
        <div class="clear"></div>
        <a class="author-link" href="{{ post.author-link }}">{{ post.author }}</a>
        <div class="date">{{ post.date | date: "%d %B %Y" }}</div>
        <div class="category"><a href="/tech-blog/{{ post.category }}.html">{{ post.category }}</a></div>
      </div>
      <div class="nine columns omega post-title">
        <h1>
          <a href="/tech-blog/{{ post.url }}">{{ post.title }}</a>
        </h1>
      </div>
      <div class="twelve columns post-summary">
        <p class="post-summary">{{ post.summary }}</p>
      </div>
    </article>
  {% endif %} 
{% endfor %} 
