//Colors
$text-color: #333;
$link-color: #DC291C;
$link-hover-color: #3D4B58;
$line-color: #999;
$font-size: 15px;
$line-height: 22px;

//Font weights
$medium: 300;
$bold: 600;

//Rounded corners
$border-radius: 5px;
@mixin round-corners($dist) {
  -webkit-border-radius: $dist;
  -moz-border-radius: $dist;
  border-radius: $dist;
}

//Text shadow
$shadow-color: #434347; $shadow-x: 1px; $shadow-y: 1px; $shadow-blur: 2px;
@mixin shadow($color, $x, $y, $blur) {
	text-shadow: $color $x $y $blur;
}