@import "skeleton-base"; 
@import "skeleton-layout"; 
@import "skeleton"; 
@import "syntax";
@import "global-styles"; 

html {
	-webkit-font-smoothing: antialiased; 
}

body {
	font-size: $font-size;
	line-height: $line-height;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color: $text-color; 
	letter-spacing: 0.03em;	
}

/* GENERAL */ 

/* Following is for sticky footer */
html, body, #container {
height: 100%;
}

body > #container {
height: auto;
  min-height: 100%;
}

footer {
position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
}
/* End sticky footer */

a, a:active, a:visited {
	color: $link-color;	
	text-decoration: none;
}

a:hover {
	color: $link-hover-color;
}

img {
	margin: 1em 0;
	border: 5px solid #ccc;		
}

p, ul, ol {
	margin-bottom: 18px;
} 

ul {
	list-style: disc outside none;
	margin-left: 30px;
}

em {
	font-style: italic;
}

acronym {
	color: #DC291C;
	cursor: help;
}

acronym:hover {
	color: #3d4b58;
}

table {
	margin: 1em 0;
}

table th,
table td {
	padding: 2px 10px;
	border: 1px solid $line-color;
}

table th {
	background: #333f48;
	color: #fff;
	font-weight: $bold;
}

table tr:nth-of-type(odd) td {
	background: #eee;
}

table tr:hover td {
	background: #006ba6;
	color: #fff;
}

pre, code {
	font-family: monospace;
	font-size: 12px;
	letter-spacing: 0;
}

/* General Page Styles */

.site-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #333f48 url('/tech-blog/images/headerBg.png') left bottom repeat-x;
	height: 120px;
	z-index: 9; 
	-moz-box-shadow: 0 0 30px #333;
	-webkit-box-shadow: 0 0 30px #333;
	-o-box-shadow: 0 0 30px #333;
	box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.site-header .sticky-top {
	background: #333f48;
	height: 22px; 
}

.site-header #switchfly {
	color: #fff;
	position: absolute;
	top: -21px;
	left: 0;
}

.header-content,
footer {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.header-content {
	padding-top: 18px;
}

.header-content h1 a {
	color: #c8ced3;
}

.header-content h1 a:hover {
	color: #fff;
}

nav ul {
	list-style: none;
	margin-left: 0;
}

.header-content img {
	border: 0;
	margin: 0;
	opacity: .8;
}

.header-content img:hover {
	opacity: 1;
}

footer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid $line-color;
	font-size: .8em;
	color: #fff;
	background: #333f48;
	width: 100%;
}

footer .sixteen {
	margin: 0 auto;
}

.container {
	padding-top: 140px;
}

#sidebar nav {
	position: fixed;
}

/* ---------
	homepage
-----------*/

/*blog home*/
.post-homePage {
	border-bottom: 1px solid $line-color;
	overflow: hidden;
	padding-bottom: 20px;	
	h1 {
		font-size: $font-size * 2;
		line-height: ($font-size * 2) + 6;
		font-weight: $medium;
		letter-spacing: 1px;
		margin-top: 12px;
	}
	.post-summary {
		margin-top: 16px;
	}
}

.post-homePage:last-of-type {
	border-bottom: 0;
}

.date {
	color: $secondary-color;
	font-size: 18px;
	font-weight: normal;
}

.date p {
	margin-bottom: -5px;
}

.year {
	font-size: 12px;
}

.author {
	margin-top: 15px;
	font-size: 12px;
	color: $secondary-color;
}

.author-image {
	display: block;
	margin: 0 0;
	width: 60px;
	height: auto;
	border: 2px solid $line-color;
}

#post-list h1 {
	font-size: 36px;
}

#post-list .post-body {
	margin-top: 12px;
	font-size: 12px;
	line-height: 16px;
}

#post-list .post-body {
	display: none;
}

#post-list #post-page .post-body {
	display: block;
}

#post-page .post-info {
	border: 1px solid $line-color;
	border-width: 1px 0;
	padding: 1em 0;
	margin: 1em 0;
}

.post-info .omega {
	argin-left: 0;
	margin-top: -5px;
	margin-bottom: 10px;
}

.post-info .author-image {
	margin-left: 20px;
}

#post-list .author-image {
	margin-left: 0;
}

.post-body img {
	width: 100%;
	height: auto;
}

/* Nested Socials Styles */
.socials {
	list-style: none;
	margin-top: 20px;

	li {
		margin-bottom: 20px;
	}

	li a {
		display: block;
		height: 32px;
		width: 32px;
		overflow: hidden;
		background: transparent url('/tech-blog/images/socialsSprite.png') 0 0 no-repeat;
		-moz-opacity: .5;
		-webkit-opacity: .5;
		-o-opacity: .5;
		opacity: .5;
	}

	li a:hover {
		-moz-opacity: 1;
		-webkit-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
	}

	.email a {
		background-position: 0 -32px;
	}

	.linkedin a {
		background-position: 0 -64px;
	}

	.rss a {
		background-position: 0 -96px;
	}
} /* End .socials */	