/*
Syntax error: Undefined variable: "$font-size".
        on line 10 of style.scss

5: html {
6: 	-webkit-font-smoothing: antialiased; 
7: }
8: 
9: body {
10: 	font: #{$font-size}/#{$line-height} "Helvetica Neue", Helvetica, Arial, sans-serif;
11:   	color: $text-color; 
12: 	letter-spacing: 0.03em;	
13: 	overflow: hidden;	
14: }
15: 

Backtrace:
style.scss:10
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/variable.rb:50:in `_perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/node.rb:40:in `perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/interpolation.rb:72:in `_perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/node.rb:40:in `perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/list.rb:69:in `block in _perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/list.rb:69:in `map'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/list.rb:69:in `_perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/script/node.rb:40:in `perform'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:235:in `visit_prop'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:20:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `map'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:255:in `visit_rule'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:20:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `map'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:49:in `visit_root'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:20:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/tree/root_node.rb:20:in `render'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/engine.rb:305:in `_render'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/engine.rb:252:in `render'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:169:in `block in update_stylesheets'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:167:in `each'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:167:in `update_stylesheets'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:273:in `block (4 levels) in watch'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/path.rb:73:in `call'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/path.rb:35:in `update'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/vendor/fssm/lib/fssm.rb:20:in `monitor'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin/compiler.rb:245:in `watch'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/plugin.rb:111:in `method_missing'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/exec.rb:421:in `watch_or_update'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/exec.rb:302:in `process_result'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/exec.rb:41:in `parse'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/lib/sass/exec.rb:21:in `parse!'
C:/dev/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.0.alpha.35/bin/sass:8:in `<top (required)>'
C:/dev/Ruby193/bin/sass:19:in `load'
C:/dev/Ruby193/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$font-size\".\A         on line 10 of style.scss\A \A 5: html {\A 6: 	-webkit-font-smoothing: antialiased; \A 7: }\A 8: \A 9: body {\A 10: 	font: #{$font-size}/#{$line-height} \"Helvetica Neue\", Helvetica, Arial, sans-serif;\A 11:   	color: $text-color; \A 12: 	letter-spacing: 0.03em;	\A 13: 	overflow: hidden;	\A 14: }\A 15: "; }
