---
layout: default
---

<!-- Wraps single post on the POST (not home) page -->
<article id="post-page">
  <div class="sixteen columns post-title">
      <h1>{{ page.title }}</h1>
  </div>
  <div class="sixteen columns post-info">
    <div class="alpha two columns">
      <img class="author-image" src="/tech-blog/images/{{ page.author-image }}" alt="{{ page.author }}" />
    </div>
    <div class="omega fourteen columns">
      <div class="date">
        <p>{{page.date | date: "%B %d" }}</p>
        <p class="year">{{ page.date | date: "%Y" }}</p>
      </div>
      <!-- <div class="tags"><span class="label">Tags:</span> {{ post.tags }}</div>-->
      <div class="author">
        <!-- <a class="author-link" href="{{ post.author-link }}"> -->{{ page.author }}<!-- </a> -->      
      </div>
    </div>
  </div>
  <div class="two columns alpha post-social">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:50px;top:50px;">
    <a class="addthis_button_email"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5135015d44dcf0cd"></script>
    <!-- AddThis Button END -->
<!-- AddThis Button END -->
    <!--- <ul class="socials">
      <li class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="SwitchflyInc" data-count="none" data-hashtags="TechBlog" title="Share this article">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li class="email"><a href="" title="Email this article"></a></li>
      <li class="linkedin"><script type="IN/Share" data-onsuccess="LinkedInShare"></script>
      </li>
      <li class="rss"><a href="" title="Subscribe to the Switchfly Technical Blog"></a></li>
    </ul> --->
  </div>    
  <div class="fourteen columns omega post-body">
    {{ content }}
  </div>
</article>