---
layout: default
---

<!-- Wraps each post on the post page -->
<article id="post">
  <div class="twelve columns post-title">
      <h1>{{ page.title }}</h1>
  </div>
  <div class="twelve columns post-info">
    <div class="alpha two columns">
      <img class="author-image" src="/tech-blog/images/{{ page.author-image }}" alt="{{ page.author }}" />
    </div>
    <div class="omega ten columns">
      <div class="date">
        <p>{{page.date | date: "%B %d" }}</p>
        <p class="year">{{ page.date | date: "%Y" }}</p>
      </div>
      <!-- <div class="tags"><span class="label">Tags:</span> {{ post.tags }}</div>-->
      <div class="author">
        <!-- <a class="author-link" href="{{ post.author-link }}"> -->{{ page.author }}<!-- </a> -->      
      </div>
    </div>
  </div>
  <aside class="two columns alpha post-social">
    <ul>
      <li><a href="">Tweet</a></li>
      <li><a href="">Email</a></li>
      <li><a href="">LI</a></li>
      <li><a href="">RSS</a></li>
    </ul>
  </aside>
  <div class="ten columns omega post-body">
    {{ content }}
  </div>
</article>